apiVersion: apps/v1
kind: Deployment
metadata: 
  name: demo-deploy
  labels:
    app: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
        - name: nginx-cont
          image: nginx:1.25.3
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: my-secret